<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Anudeep Reddy - Portfolio</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.9.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <form name="/submit_form" method="post" action="reveal-content">

      <div class="profile">
        <img src="static/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Anudeep Reddy</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/anudeepreddy77" class="GitHub"><i class="bi bi-github"></i></i></a>
          <a href="https://www.linkedin.com/in/edulakanti-anudeep-65346b243/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://www.instagram.com/anudeepreddy77/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://join.skype.com/invite/s7BEGa2uraKn" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100003835592810" class="facebook"><i class="bx bxl-facebook"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#Projects" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          <li><a href="#Chat with my bot" class="nav-link scrollto"><i class="bi bi-robot"></i> <span>Chat with my bot</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Hey I'm Anudeep Reddy</h1>
      <p>I'm <span class="typed" data-typed-items="a passionate Data Scientist from India"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I have completed my Master's in Computer Applications from Aurora's College in 2022.</p>
        </div>

        <div class="row">
          <div class="col-lg-3" data-aos="fade-right">
            <img src="static/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Interested in Data Science</h3>
            <p class="fst-italic">
              Have done multiple projects in Machine Learning and Deep learning.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>12 Feb 1997</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8143165743</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Hyderabad, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master of Computer Applications</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>anudeepreddy1202@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Profile Summary</h3>
            <div class="resume-item pb-0">
              <h4>Anudeep</h4>
              <p>Have gained good exposure to understand various aspects of Data Science through the certification which has developed a great sense of confidence at a very personal level. Hence, I seek a technically challenging position in Data Analytics, Data Science.</p>
              <ul>
                <li>Hyderabad, India</li>
                <li>+91 8143165743</li>
                <li>anudeepreddy1202@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Computer Applications</h4>
              <h5>2019 - 2022</h5>
              <p><em>Aurora's PG College</em></p>
              <p> CGPA : 8.3 </p>
              
            </div>
            <div class="resume-item">
              <h4>Skills</h4>
              <p>Python, Pandas,  Numpy,  Matplotlib, Seaborn, Plotly Express</p>
              <p>Tensor Flow,  Keras,  Open Cv</p>
              <p>Scikit-learn,  Machine Learning, Deep Learning,  SQl</p>
              <p>HTML,  Flask,  Git,  Heroku</p>

            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <h4>Python with Data Science</h4>
              <a href="https://courses.cognitiveclass.ai/certificates/a19af54e3f554e538f700b8f873c0fdf">Certificate</a> 
            </div>
            <div class="resume-item">
              <h4>Data Analysis with Python</h4>
              <a href="https://courses.cognitiveclass.ai/certificates/1edbddf52fc64b4da9be148686a764d8">Certificate</a>
            </div>
            <div class="resume-item">
              <h4>Machine Learning with Python</h4>
              <a href="https://courses.cognitiveclass.ai/certificates/79e4d418f6be4b1ca7d9f71627b1e2f0 ">Certificate</a>
            </div>
            <h3 class="resume-title">PUBLICATIONS</h3>
            <div class="resume-item">
              <h4>Machine Learning</h4>
              <a href="https://medium.com/@anudeepreddy1202/machine-learning-a8641802fbf1">Published Article</a> 
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Projects Section ======= -->
    <section id="Projects" class="Projects section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
          <h3>Machine Learning Projects</h3>
          <div><br>
            <h4><b>Fuel Consumption Rating</b></h4>
            <p><b>Tools:</b> Pandas, NumPy, Scikit-learn, Flask, Git, Heroku<br>
              Estimated fuel consumption for new light-duty vehicles for retail sale in Canada in 2022.<br>
              • Observations no null values and no duplicates.<br>
              • By EDA understood more insights of the data and removed undesirable features.<br>
              • By performing encoding techniques made data more penetrable.<br>
              • The model was trained on multiple ML algorithms and done hyperparameter tuning and the best accurate results was given by Random Forest with an accuracy of 98%.<br>
              • Approach: Regression <br>
              <a href="https://myfuelcons.herokuapp.com/">Project Deployment</a> 
            </p><br>
            <h4><b>Penguin Species</b></h4>
            <p><b>Tools:</b> Pandas, NumPy, Scikit-learn, Flask, Git, Heroku<br>
              The primary aim of this project is to build a machine learning model that should be able to identify the Penguin species according to the provided dataset.<br>
              • Data set contains null values by performing outlier treatment filled null values by Simple Imputer method.<br>
              • Converted categorical data to numerical by performing encoding techniques.<br>
              • The model was trained on ML algorithm and the best accurate result was given By Decision Tree with an accuracy of 97%.<br>
              • Approach: Classification<br>
              <a href="https://penguin-specie.herokuapp.com/">Project Deployment</a> 
            </p><br>
            <h4><b>Medical Insurance</b></h4>
            <p><b>Tools:</b> Pandas, NumPy, Scikit-learn, Flask, Git, Heroku<br>
              Build a model to accurately predict cost medical charges according to the provided data.<br>
              • Observations no null values no duplicates, some features contain special characters treated them by functions.<br>
              • Features contain categorical data converted by preforming encoding techniques.<br>
              • The model was trained on multiple ML algorithms and the best accurate results were given by Random Forest with an accuracy of 85%.<br>• Approach: Regression<br>
              <a href="https://medical-charges.herokuapp.com/">Project Deployment</a> 
            </p>
          </div>
        </div>
    </section><!-- End Projects Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Hyderabad</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>anudeepreddy1202@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 8143165743</p>
          </div>
    </section><!-- End Contact Section -->

    <section id="Chat with my bot" class="Chat with my bot section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Chat with my bot</h2>
          <center>
            <iframe 
              allow="microphone;"
              width="350"
              height="430"
              src="https://console.dialogflow.com/api-client/demo/embedded/1804947b-22af-4c1a-899f-f3ba5e0cb84d">
            </iframe>
          </center>
        </div>
    </section><!-- End Projects Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
  <center>
    <iframe" 
      allow="microphone;"
      width="350"
      height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/1804947b-22af-4c1a-899f-f3ba5e0cb84d">
    </iframe>
  </center>
  
</body>

</html>